.arrow {
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;

  /* my styles */
  z-index: 200;
  position: absolute;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

ul {
  /* increase height; default was 130px */
  height: 160px;
  max-width: 390px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-size: 0;

  /* my styles */
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-color: rgb(238, 235, 235);
  border-radius: .5rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

ul img {
  width: 130px;
  height: 130px;
  display: block; /* removes extra space near images */
}

ul li {
  display: inline-block; /* removes extra space between list items */
}