.slider {
  padding: 0;
  margin: 0;
  border-radius: 5px;
  background: #E0E0E0;
  background: linear-gradient(left top, #E0E0E0, #EEEEEE);
  width: 310px;
  height: 15px;
  margin: 5px;
  position: relative;
}

.thumb {
  padding: 0;
  margin: 0;
  width: 10px;
  height: 25px;
  border-radius: 3px;
  position: relative;
  left: 10px;
  top: -5px;
  background: blue;
  cursor: pointer;
}

#heading {
  font-size: 3rem;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5rem auto;
  text-align: center; 
  cursor: pointer;
}