.wrapper {
    height: 500px;
    width: 500px;
    background-color: rgb(225, 225, 225);
    border-radius: .2rem;
    padding: 0;
    margin: 2rem auto;
    overflow-x: hidden;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style-type: none;
    position: relative;
}

ul li img {
    height: 400px;
    width: 350px;
    object-fit: cover;
}

.heading {
    font-size: 3rem;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    padding: 1rem .5rem;
    line-height: 1.1;
}

.delete-btn {
    display: none;
    position: absolute;
    z-index: 99;
    top: 0;
}